
<main>
    <div class="form-wrapper">
        <form action="/games" method="POST" id="create-game-form" class="create-form">
            <h3>Create game</h3>
            <label class="form-label" for="game-name">Game Name:</label>
                <input class="form-input" type="text" id="game-name" name="gameName" required>
                <br>
            <label class="form-label" for="street-address">Street Address:</label>
                <input class="form-input" type="text" id="street-address" name="streetAddress" required>
                <br>
            <label class="form-label" for="city">City:</label>
                <input class="form-input" type="text" id="city" name="city" required>
                <br>
            <label class="form-label" for="state">State:</label>
                <select class="form-input" id="state" name="state" required>
                    <option value="" disabled selected>Select your state</option>
                {{#each states}}
                     <option value="{{this}}">{{this}}</option>
                {{/each}}
                </select>
                <br>
            <label class="form-label" for="zip">Zipcode:</label>
                <input class="form-input" type="text" id="zip" name="zip" required>
                <br>
            <label class="form-label" for="description">Description:</label>
                <input class="form-input" type="text" id="description" name="gameDescription">
                <br>
            <label class="form-label" for="date">Date:</label>
                <input class="form-input" type="date" id="date" name="date" required>
                <br>
            <label class="form-label" for="start-time">Start Time:</label>
                <input class="form-input" type="time" id="start-time" name="startTime" required>
                <br>
            <label class="form-label" for="end-time">End Time:</label>
                <input class="form-input" type="time" id="end-time" name="endTime" required>
                <br>
            <label class="form-label" for="max-players">Max players:</label>
                <input class="form-input" type="text" id="max-players" name="maxPlayers">
                <br>
            <label class="form-label" for="group">Group:</label>
                <select class="form-input" id="group" name="group" required>
                    <option value="" disabled selected>Select your group</option>
                       {{#if groups.length}}
                            {{#each groups}}
                                <option value="{{this._id}}">{{this.groupName}}</option>
                            {{/each}}
                        {{else}}
                            <option value="N/A">N/A</option>
                        {{/if}}
                </select>
                <br>
            <button type="submit" class="form-submit-button">Submit</button>
            
        </form>
    </div>
        <a id="error-label" hidden>test</a> <br>
        <a id="status-label" hidden>test2</a> <br>
    <script src='/public/js/gameValidation.js'></script>
</main>