<!-- STILL NEED TO AUTO FILL WITH USERS CURRENT CONTENT -->
<div class="form-wrapper">
    <form method="POST" id="create-game-form" class="create-form" action="/games/edit/{{gameObj._id}}">
        <label class="form-label" for="game-name">Event Name:</label>
            <input class="form-input" type="text" id="game-name" name="gameName" value="{{gameObj.gameName}}">
            <br>
        <!-- NEED TO ADD LOCATION INFO -->
        <label class="form-label" for="street-address">Street Address:</label>
                <input class="form-input" type="text" id="street-address" name="streetAddress" value="{{gameObj.gameLocation.streetAddress}}">
                <br>
            <label class="form-label" for="city">City:</label>
                <input class="form-input" type="text" id="city" name="city" value="{{gameObj.gameLocation.city}}">
                <br>
            <label class="form-label" for="state">State:</label>
                <select class="form-input" type="text" id="state" name="state" required>
                {{#each states}}
                     <option value="{{this}}" {{#ifEquals this ../gameObj.gameLocation.state}} selected {{/ifEquals}}>{{this}}</option>
                {{/each}}
                </select>
                <br>
            <label class="form-label" for="zip">Zipcode:</label>
                <input class="form-input" type="text" id="zip" name="zip" value="{{gameObj.gameLocation.zip}}">
                <br>
        <label class="form-label" for="map">Maps Link:</label>
            <input class="form-input" type="url" id="map" name="map" value="{{gameObj.map}}">
            <br>
        <label class="form-label" for="directions">Directions:</label>
            <input class="form-input" type="text" id="directions" name="directions" value="{{gameObj.directions}}">
            <br>
        <label class="form-label" for="description">Description:</label>
            <input class="form-input" type="text" id="description" name="gameDescription" value="{{gameObj.description}}">
            <br>
        <label class="form-label" for="date">Date:</label>
            <input class="form-input" type="date" id="date" name="date" value="{{gameObj.gameDate}}" >
            <br>
        <label class="form-label" for="start-time">Start Time:</label>
            <input class="form-input" type="time" id="start-time" name="startTime" value="{{gameObj.startTime}}">
            <br>
        <label class="form-label" for="end-time">End Time:</label>
            <input class="form-input" type="time" id="end-time" name="endTime" value="{{gameObj.endTime}}">
            <br>
        <label class="form-label" for="max-players">Max players:</label>
            <input class="form-input" type="text" id="max-players" name="maxPlayers" value="{{gameObj.maxCapacity}}">
            <br>
            <label class="form-label" for="group">Group:</label>
                <select class="form-input" id="group" name="group" required>
                       {{#if groups.length}}
                            {{#each groups}}
                                <option value="{{this._id}}">{{this.groupName}}</option>
                            {{/each}}
                        {{else}}
                            <option value="N/A">N/A</option>
                        {{/if}}
                </select>
                <br>
        <button type="submit" class="form-submit-button">Submit</button>
    </form>

    {{> updateGameImage}}
    
    <p id="error-label" hidden></a>
    <p id="message-label" hidden></a>
    <script src='/public/js/gameValidation.js'></script>
    <script src="/public/js/pictures.js"></script>
</div>