<main>
    <div class="form-wrapper">
        <form action="/users/edit/{{currentUser._id}}" method="POST" id="create-user-form" class="create-form">
            <h3>Edit user</h3>

            <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username" value="{{currentUser.username}}">
                <br>
            <label class="form-label" for="email">Email:</label>
                <input class="form-input" type="email" id="email" name="email" value="{{currentUser.emailAddress}}">
                <br>
            <label class="form-label" for="description">Bio:</label>
                <input class="form-input" type="text" id="description" name="description" value="{{currentUser.description}}">
                <br>
            
            <!-- Skills -->
            {{#each currentUser.skills}}
                <label class="form-label" for="{{@key}}">{{this.desc}}:</label>
                    <input class="form-input" type="hidden" id="{{@key}}-desc" name="skills[{{@key}}][desc]" value="{{this.desc}}">
                    <input class="form-input" type="hidden" id="{{@key}}-type" name="skills[{{@key}}][type]" value="{{this.type}}">

                    {{#ifEquals this.type "checkbox"}}
                        <input class="form-input" type="{{this.type}}" id="{{@key}}" name="skills[{{@key}}][value]" value="true" {{#if this.value}}checked{{/if}}>
                    {{/ifEquals}}
                    {{#elseEquals this.type "checkbox"}}
                        <input class="form-input" type="{{this.type}}" id="{{@key}}" name="skills[{{@key}}][value]" value={{this.value}}>
                    {{/elseEquals}}
                    <br>
            {{/each}}

            <!--
            <label class="form-label" for="under5">{{currentUser.skills.under5.desc}}:</label>
                <input class="form-input" type="hidden" id="under5-desc" name="skills[under5][desc]" value="{{currentUser.skills.under5.desc}}">
                <input class="form-input" type="hidden" id="under5-type" name="skills[under5][type]" value="{{currentUser.skills.under5.type}}">
                <input class="form-input" type="{{currentUser.skills.under5.type}}" id="under5" name="skills[under5][value]" value="true" {{#if currentUser.skills.under5.value}}checked{{/if}}>

            <label class="form-label" for="above18">{{currentUser.skills.above18.desc}}:</label>
                <input class="form-input" type="hidden" id="above18-desc" name="skills[above18][desc]" value="{{currentUser.skills.above18.desc}}">
                <input class="form-input" type="hidden" id="above18-type" name="skills[above18][type]" value="{{currentUser.skills.above18.type}}">
                <input class="form-input" type="{{currentUser.skills.above18.type}}" id="above18" name="skills[above18][value]" value="true" {{#if currentUser.skills.above18.value}}checked{{/if}}>
            <label class="form-label" for="inSchool">{{currentUser.skills.inSchool.desc}}:</label>
                <input class="form-input" type="hidden" id="inSchool-desc" name="skills[inSchool][desc]" value="{{currentUser.skills.inSchool.desc}}">
                <input class="form-input" type="hidden" id="inSchool-type" name="skills[inSchool][type]" value="{{currentUser.skills.inSchool.type}}">
                <input class="form-input" type="{{currentUser.skills.inSchool.type}}" id="inSchool" name="skills[inSchool][value]" value="0">
            <label class="form-label" for="playing">{{currentUser.skills.playing.desc}}:</label>
                <input class="form-input" type="hidden" id="playing-desc" name="skills[playing][desc]" value="{{currentUser.skills.playing.desc}}">
                <input class="form-input" type="hidden" id="playing-type" name="skills[playing][type]" value="{{currentUser.skills.playing.type}}">
                <input class="form-input" type="{{currentUser.skills.playing.type}}" id="playing" name="skills[playing][value]" value="true" {{#if currentUser.skills.playing.value}}checked{{/if}}>
            <label class="form-label" for="thrown">{{currentUser.skills.thrown.desc}}:</label>
                <input class="form-input" type="hidden" id="thrown-desc" name="skills[thrown][desc]" value="{{currentUser.skills.thrown.desc}}">
                <input class="form-input" type="hidden" id="thrown-type" name="skills[thrown][type]" value="{{currentUser.skills.thrown.type}}">
                <input class="form-input" type="{{currentUser.skills.thrown.type}}" id="thrown" name="skills[thrown][value]" value="true" {{#if currentUser.skills.thrown.value}}checked{{/if}}>
            <label class="form-label" for="played">{{currentUser.skills.played.desc}}:</label>
                <input class="form-input" type="hidden" id="played-desc" name="skills[played][desc]" value="{{currentUser.skills.played.desc}}">
                <input class="form-input" type="hidden" id="played-type" name="skills[played][type]" value="{{currentUser.skills.played.type}}">
                <input class="form-input" type="{{currentUser.skills.played.type}}" id="played" name="skills[played][value]" value="">
                -->
                
            <button type="button" class="form-submit-button" onclick="window.history.back();">Cancel</button>
            <button type="submit" class="form-submit-button">Submit</button>
        </form>
    </div>

    {{> updatePfp}}
    {{> addToSlideshow}}

    <p id="error-label" hidden></a>
    <p id="message-label" hidden></a>
    
    <script src="/public/js/pictures.js"></script>
</main>