<main>
    <div class="form-wrapper">
        <form action="/users/edit/{{currentUser._id}}" method="POST" id="create-user-form" class="create-form">
            <h3>Edit user</h3>
            <label class="form-label" for="name">Name:</label>
                <input class="form-input" type="text" id="name" name="name" value="{{currentUser.name}}">
                <br>
            <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username" value="{{currentUser.username}}">
                <br>
            <label class="form-label" for="email">Email:</label>
                <input class="form-input" type="email" id="email" name="email" value="{{currentUser.emailAddress}}">
                <br>
            <label class="form-label" for="description">Bio:</label>
                <input class="form-input" type="text" id="description" name="description" value="{{currentUser.description}}">
                <br>
            
            <!-- Skills -->
            {{#each currentUser.skills}}
                <label class="form-label" for="{{@key}}">{{this.desc}}:</label>
                    <input class="form-input" type="hidden" id="{{@key}}-desc" name="skills[{{@key}}][desc]" value="{{this.desc}}">
                    <input class="form-input" type="hidden" id="{{@key}}-type" name="skills[{{@key}}][type]" value="{{this.type}}">

                    {{#ifEquals this.type "checkbox"}}
                        <input class="form-input" type="{{this.type}}" id="{{@key}}" name="skills[{{@key}}][value]" value="true" {{#if this.value}}checked{{/if}}>
                    {{/ifEquals}}
                    {{#elseEquals this.type "checkbox"}}
                        <input class="form-input" type="{{this.type}}" id="{{@key}}" name="skills[{{@key}}][value]" value={{this.value}}>
                    {{/elseEquals}}
                    <br>
            {{/each}}
                
            <button type="button" class="form-submit-button" onclick="window.history.back();">Cancel</button>
            <button type="submit" class="form-submit-button">Submit</button>
        </form>
    </div>

    {{> updatePfp}}
    {{> addToSlideshow route=currentUser._id}}

    <p id="error-label" hidden></a>
    <p id="message-label" hidden></a>
    
    <script src="/public/js/pictures.js"></script>
</main>