<main>
    <h1>{{group.groupName}}</h1>
    <a>About Us: {{group.description}}</a>
    <a>Owner: {{owner}}</a>
    <a>Members:</a>
    <ul>
        {{#each members}}
            <li href="/users/{{this._id}}">{{this.name}}</li>
        {{/each}}
    </ul>
    <a>Upcoming Games:</a>
    <ul>
        {{#each games}}
            <li href="/games/{{this._id}}">{{this.name}}</li>
        {{/each}}
    </ul>

    <button class="join-button">Join Group</button>

    {{#if isOwner}}
        <button class="edit-button">Edit</button>
    {{/if}}
</main>