<main>
    <h1>{{group.groupName}}</h1>
    <p>About Us: {{group.description}}</p>
    {{#if owner}}
    <p>Group Leader: <a href="/users/{{owner._id}}">{{owner.username}}</a></p>
    {{/if}}
    <p>Members:</p>
    <ul>
        {{#each members}}
            <li><a href="/users/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <a>Upcoming Games:</a>
    <ul>
        {{#each games}}
            <li><a href="/games/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>

    {{#if currentUser }}
    {{#unless isMember}}
        <form action="/groups/join/{{group._id}}" method="POST">
            <button class="join-button">Join Group</button>
        </form>
    {{else}}
        <div id="messages-wrapper">
            <form action="/groups/{{group._id}}/comments" id="message-form" method="POST">
                <label for="comment"></label>
                    <input type="text" id="comment" name="comment">
                <button type="Submit" class="message-send">Send</button>
            </form>
            <br>
            {{#each group.comments}}
                <p class="message-text">{{this.commentText}}</p>
                <a class="message-sender">-{{this.sender.name}}</a>
                {{#if this.isSender}}
                <form action="/groups/{{../group._id}}/comments/delete" method="post">
                    <input type="hidden" name="commentId" value="{{this._id}}">
                    <button type="submit" class="delete-comment-button">Delete</button>
                </form>
                {{/if}}
            {{/each}}
        </div>

        <form action="/groups/leave/{{group.id}}" method="POST">
            <button type="submit">Leave Group</button>
        </form>
    {{/unless}}
        
    {{ else }}
    <p>To join this group, please <a href="/login">login</a>.</p>
    {{/if}}
    

    {{#if isOwner}}
        <form action="/groups/edit/{{group._id}}">
            <button class="edit-button">Edit</button>
        </form>
        <form action="/groups/delete/{{group._id}}" method="POST">
            <button class="delete-button">Delete</button>
        </form>
    {{/if}}
</main>