<main>
    {{#if errors}}
        {{#each errors}}
            <p class="error">{{this}}</p>
        {{/each}}
    {{/if}}
    {{#if users}}
    <div class="response-list">
        <a>Users:</a>
        <ul>
            {{#each users}}
                 <li><a href="/users/{{this._id}}">{{this.username}}</a></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if groups}}
    <div class="response-list">
        <a>Groups:</a>
        <ul>
            {{#each groups}}
                <li><a href="/groups/{{this._id}}">{{this.groupName}}</a></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if games}}
    <div class="response-list">
        <a>Upcoming Games:</a>
        <ul>
            {{#each games}}
                <li><a href="/games/{{this._id}}">{{this.gameName}}</a></li>
            {{/each}}
        </ul>
    </div> 
    {{/if}}
</main>