<main>
    <div class="form-wrapper">
        <form method="post" action="/search">
            <label for="search-form">Enter Search Here:</label>
                <input type="text" id="search-form" name="search-form">
            <button type="submit" class="form-submit-button">Submit</button>
        </form>
    </div>
    <div id="list-collection">
        {{#if players}}
        <dl class="list-of-all" id="player-list">
            <dt class="list-header">Players:</dt>
            {{#each players}}
            <dd class="player-list-element"><a href="/users/{{this._id}}">{{this.username}}</a></dd>
            {{/each}}
        </dl>
        {{/if}}
        {{#if games}}
        <dl class="list-of-all" id="game-list">
            <dt class="list-header">Games:</dt>
            {{#each games}}
            <dd class="game-list-element"><a href="/games/{{this._id}}">{{this.gameName}}</a></dd>
            {{/each}}
        </dl>
        {{/if}}
        {{#if groups}}
        <dl class="list-of-all" id="group-list">
            <dt class="list-header">Groups:</dt>
            {{#each groups}}
            <dd class="group-list-element"><a href="/groups/{{this._id}}">{{this.groupName}}</a></dd>
            {{/each}}
        </dl>
        {{/if}}
    </div>
</main>