<main>
    <h1>{{user.username}}</h1>
    <p>About me: {{user.description}}</p>
    <h3>Friends:</h3>
    <ul>
        {{#each friends}}
            <li><a href="/users/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Groups:</h3>
    <ul>
        {{#each groups}}
            <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Upcoming Games:</h3>
    <ul>
        {{#each games}}
            <li><a href="/games/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>

    {{#if isOwner}}
        <button class="edit-button">Edit</button>
        <button class="delete-button">Delete</button>
    {{else if currentUser}}
        <button class="add-friend">Add Friend</button>
    {{ else }}
    <p>To add this user as a friend, please <a href="/login">login</a>.</p>
    {{/if}}
</main>