<main>
    <div class="user-info-wrapper">
        <h1>{{user.username}}</h1>
        <!--
            <p>
                Email: <a href="mailto:{{user.emailAddress}}">{{user.emailAddress}}</a>
            </p>
        -->
        <img src="{{user.profilePicture}}" class="profile-picture" alt="Your profile picture">
        <p>{{user.description}}</p>
    </div>

    <h3>Friends:</h3>
    <ul>
        {{#each friends}}
            <li><a href="/users/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Groups:</h3>
    <ul>
        {{#each groups}}
            <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Upcoming Events:</h3>
    <ul>
        {{#each games}}
            <li><a href="/games/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>

    {{#if isOwner}}
        <div id="skill-wrapper">
            <h3>Skills</h3>
            <ul>
                {{#each user.skills}}
                    <!-- If skill then checkmark or X -->
                    <li>{{@key}}: {{#if this}}&#x2713;{{/if}} {{#unless this}}&#x2717;{{/unless}}</li>
                {{/each}}
            </ul>
        </div>
        
        {{#if requests}}
            <div id="friend-request-wrapper">
                <h3>Incoming Friend Requests</h3>
                {{#each requests}}
                    <div id="friend-request">
                        <a class="request-sender">{{this.name}}</a>
                        <form action="/users/{{../user._id}}/friends/acceptRequest" method="POST" class="button-wrapper">
                            <input type="hidden" name="friendUserId" value="{{this._id}}">
                            <button type="submit" class="accept-button">Accept</button>
                        </form>
                        <form action="/users/{{../user._id}}/friends/rejectRequest" method="POST" class="button-wrapper">
                            <input type="hidden" name="friendUserId" value="{{this._id}}">
                            <button type="submit" class="reject-button">Reject</button>
                        </form>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        <form action="/users/edit/{{user._id}}" method="GET">
            <button type="submit" class="edit-button">Edit Profile</button>
        </form>
        <form action="/users/delete/{{user._id}}" method="POST" onsubmit="return confirmDelete('user');">
            <button type="submit" class="delete-button">Delete Profile</button>
        </form>
    {{else if currentUser}}
        {{#if notFriend}}
        <form action="/users/{{user._id}}/friends/sendRequest" method="POST">
            <button type="submit" class="add-friend">Add Friend</button>
        </form>
        {{/if}}
    {{ else }}
        <p>To add this user as a friend, please <a href="/login">login</a>.</p>
    {{/if}}

    {{#if user.slideshowImages.length}}
        <h3>Slideshow</h3>
        {{> showSlideshow}}
    {{/if}}
</main>