<main>
    <h1>{{user.username}}</h1>
    <p>About me: {{user.description}}</p>
    <a>Friends:</a>
    <ul>
        {{#each friends}}
            <li href="/users/{{this._id}}">{{this.name}}</li>
        {{/each}}
    </ul>
    <a>Groups:</a>
    <ul>
        {{#each groups}}
            <li href="/groups/{{this._id}}">{{this.name}}</li>
        {{/each}}
    </ul>
    <a>Upcoming Games:</a>
    <ul>
        {{#each games}}
            <li href="/games/{{this._id}}">{{this.name}}</li>
        {{/each}}
    </ul>

    {{#if isOwner}}
        <button class="edit-button">Edit</button>
    {{else}}
        <button class="add-freind">Add Friend</button>
    {{/if}}
</main>