<main>
    <h1>{{user.username}}</h1>
    <p>Email: {{ user.emailAddress }}</p>
    {{#if user.profilePicture}}
    <img src="{{ user.profilePicture }}" class="profile-picture">
    {{/if}}
    <p>About me: {{user.description}}</p>
    <h3>Friends:</h3>
    <ul>
        {{#each friends}}
            <li><a href="/users/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Groups:</h3>
    <ul>
        {{#each groups}}
            <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <h3>Upcoming Games:</h3>
    <ul>
        {{#each games}}
            <li><a href="/games/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>

    {{#if isOwner}}

        <div id="friend-request-wrapper">
            <h3>Incoming Friend Requests</h3>
            {{#each request}}
                <div id="friend-request">
                    <a class="request-sender">{{request.sender.name}}</a>
                    <form action="/users/{{user._id}}/friends/acceptRequest">
                        <button type="submit" class="accept-button">Accept</button>
                    </form>
                    <form action="/users/{{user._id}}/friends/rejectRequest">
                        <button type="submit" class="reject-button">Reject</button>
                    </form>
                </div>
            {{/each}}
        </div>

        <form action="/users/edit/{{user._id}}">
            <button class="edit-button">Edit</button>
        </form>
        <form action="/users/delete/{{user._id}}" method="POST">
            <button class="delete-button">Delete</button>
        </form>
    {{else if currentUser}}
        <button class="add-friend">Add Friend</button>
    {{ else }}
    <p>To add this user as a friend, please <a href="/login">login</a>.</p>
    {{/if}}
</main>